* {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

.page-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.login-container {
    border: 1px solid #acacac;
    border-radius: 20px;

    width: 375px;
    height: 400px;

    display: flex;
    flex-flow: column;
}

.login-top {
    padding-top: 40px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: bold;
}

div.login-top > img {
    width: 50px;
    height: 50px;
}

.login-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 30px;

    display: flex;
    flex-flow: column;
}

input {
    margin-bottom: 20px;
}

.input-error {
    border: 1px solid red;
}

@media screen and (max-width: 460px) {
    .login-container {
        border: none;
        width: 100%;
    }

    .login-top{
        font-size: 40px;
    }

    div.login-top > img {
        height: 60px;
        width: 60px;
    }

    form input {
        height: 35px;
    }
}

