* {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

.page-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.login-container {
    border: 1px solid #acacac;
    border-radius: 20px;

    width: 375px;
    height: 400px;
    
    display: grid;
    grid-template-rows: 100px 1fr;
}

.login-top {
    height: 100%;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: bold;
}

div.login-top > img {
    height: 50px;
    width: 50px;
}

.login-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 45px;

    display: flex;
    flex-flow: column;
}

input {
    margin-bottom: 20px;
}