* {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

.page-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.login-container {
    border: 1px solid #acacac;
    border-radius: 20px;

    display: flex;
    flex-flow: column;
}

.login-top {
    padding-top: 40px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: bold;
}

div.login-top > img {
    width: 50px;
    height: 50px;
}

.login-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 30px 30px 10px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main .message {
    padding-bottom: 30px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 20px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #acacac;
}

input#submit {
    background-color: #09ce00;
    color: white;
    border: none;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

input:disabled {
    background-color: #b2fcb0 !important;
    cursor: default !important;
}

.input-error {
    border: 2px solid red;
}

.input-correct {
    border: 2px solid #09ce00;
}

@media screen and (max-width: 460px) {
    .login-container {
        border: none;
        width: 100%;
    }

    .login-top{
        font-size: 40px;
    }

    div.login-top > img {
        height: 60px;
        width: 60px;
    }

    form input {
        height: 35px;
    }
}

