* {
    margin: 0;
    font-family: 'Mukta', sans-serif;
}

.page-container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 225px 1fr;
}

/* TOP BAR CSS */

.top-bar {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #acacac;
    padding-left: 15px;
}

.profile, .settings {
    height: 100%;

    display: flex;
    align-items: center;

    border-left: 1px solid #acacac;
    padding-left: 10px;
    padding-right: 10px;
}



.logo-container, .logo-title, .logo{
    display: flex;
    align-items: center;
}

div.logo > img {
    height: 35px;
    width: 35px;
}

.logo-title {
    margin-left: 5px;

    font-size: 25px;
    font-weight: bold;
}

.profile-settings {
    display: flex;
    justify-content: right;
}

/* TOP BAR CSS */

/* SIDE BAR CSS */

.side-bar {
    padding-bottom: 10px;
    border-right: 1px solid #acacac;
    grid-row: 2;
    grid-column: 1;
}

.habit-top-bar {
    display: flex;
    justify-content: space-between;

    padding: 5px 10px 5px;

    font-weight: bold;

    border-bottom: 1px solid #d9d9d9;
}

.sidebar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.habit-list {
    padding: 5px 23px 0;
}

.habit-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.habit-color {
    height: 10px;
    width: 10px;
    background-color: aquamarine;
    border-radius: 3px;
}

/* SIDE BAR CSS */

/* CALENDAR CSS */

.calendar-heading {
    border-bottom: 1px solid #acacac;
}

.calendar-container {
    height: calc(100vh - 50px - 28.2px);
    display: grid;

    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.calendar-item {
    padding: 5px;

    border-right: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
}

.date {
    color: #818181;
    font-weight: bold;
}

div.calendar-heading form input {
    border: none;
    background-color: #d6d6d6;
}

div.calendar-heading form{
    display: flex;
    flex-direction: row;

    gap: 5px;
}
/* CALENDAR CSS */

/* HABIT LIST CSS*/

.habit-list-container {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 20px;
}

.habit-flex-item {
    height: 160px;
    width: 160px;

    border: 1px solid #acacac;
    border-radius: 10px;

    padding: 10px;
}

.habit-wide-color {
    height: 10px;
    width: 45px;

    border-radius: 10px;
}

/* HABIT LIST CSS*/

/* HABIT DETAIL CSS */

.detail-container, .profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-heading, .profile-heading {
    display: flex;
    justify-content: center;

    font-weight: bold;
    font-size: 35px;
}

.detail {
    border: 1px solid #acacac;
    border-radius: 20px;

    width: 375px;

    padding: 20px;
}

.detail form {
    display: flex;
    flex-flow: column;
}

.detail input, textarea {
    margin-bottom: 20px;
}

/* HABIT DETAIL CSS */

/* GENERAL CSS */

.css-button {
    background-color: white;
    border: none;

    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.css-button:visited, .css-button:link {
    color: black;
}

textarea{
    resize: none;
}

span label {
    margin-right: 10px;
}

span input {
    margin-bottom: 0 !important;
}

form span {
    display: flex;
    margin-bottom: 20px;
}

.el_invalid {
    border: 2px solid red;
}

.mandatory {
    color: red;
}

@media screen and (max-width: 460px){
    aside, .profile-text {
        display: none;
    }

    main {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media print {
    aside {
        display: none;
    }

    main {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .profile-settings {
        display: none;
    }

    .top-bar {
        justify-content: center;
    }
}